<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Configuration File for MuninMX Collector Daemon</comment>
<!-- The Location of the Logfile -->
<entry key="log.file">/var/log/muninmx/mxd.log</entry>
<!-- Log Level (ALL | DEBUG | INFO | WARN | ERROR | FATAL | OFF -->
<entry key="log.level">INFO</entry>
<!--<entry key="log.more">true</entry> -->
<!-- log access from ips to jetty? -->
<entry key="log.accessfrom">false</entry>
<entry key="log.more">false</entry>
<entry key="mongo.host">mongodb.example.com</entry>
<!-- db to store essential and track_pkg informations -->
<entry key="mongo.dbessentials">muninmxes</entry>
<!-- db to store service check data -->
<entry key="mongo.dbchecks">muninmxchecks</entry>
<!-- base path to nagios plugins for service checks -->
<entry key="nagios.plugins">/opt/muninmx/nagios/libexec/</entry>
<!-- rerun checks if error?, might eliminate false positives but will delay Trace Run-->
<entry key="nagios.rerun">false</entry>
<!-- how many threads to run service check inspectors? -->
<entry key="errornotify.threads">100</entry>
<!-- api server port -->
<entry key="api.port">49000</entry>
<!-- maximum number of concurrent rca jobs -->
<entry key="rca.maxjobs">2</entry>
<!-- startup sleep time to wait between spooling hosts (in ms)-->
<entry key="startup.sleeptime">20000</entry>
<!-- startup iterations, should be equal to org.quartz.threadPool.threadCount in quartz.properties-->
<entry key="startup.iterations">250</entry>
<!-- plugins refresh time , reload plugins on nodes if last update is higher then x seconds. it is NOT recommended to set this smaller then 3600-->
<entry key="plugin.refreshtime">86400</entry>
<!-- fail query if connect takes longer then x ms -->
<entry key="socket.timeout">40000</entry>
<!-- start data retention cleanup every x hours -->
<entry key="dataretention.period">1</entry>
<!-- tokumx workers -->
<entry key="mongo.threads">10</entry>
<!-- which db to use -->
<entry key="mongo.dbname">muninmx</entry>
<!-- used for debug only. do not use if you do not know what you do -->
<entry key="kill.sockets">false</entry>
<!-- workers to inspect the error queue -->
<entry key="mysql.host">mysqldb.example.com</entry>
<entry key="mysql.port">3306</entry>
<entry key="mysql.user">muninmx</entry>
<entry key="mysql.pass">password</entry>
<entry key="mysql.db">muninmx</entry>
<entry key="ignore.plugins">IRQSTATS,BONDING_ERR_BOND0,BONDING_ERR_BOND1,MUNINMXAUTH,MUNINMX_TRACKPKG,MUNINMX_ESSENTIALS</entry>
<!-- push over api -->
<entry key="pushover.key">your_key</entry>
<!-- TTS CONFIGURATION -->
<entry key="tts.enable">true</entry> <!-- You need to configure smsflatrate or a tts script to enable this, if disabled tts is disabled in contact forms-->
<entry key="tts.provider">smsflatrate</entry> <!-- smsflatrate or script -->
<entry key="tts.script">/full/path/to/script.sh</entry>
<!-- SMS Configuration -->
<entry key="sms.enable">false</entry> <!-- enable sms support, if deactivated sms is disabled in contact forms -->
<entry key="sms.provider">smsflatrate</entry> <!-- which provider to use, smsflatrate,bulksms,twilio or script -->
<entry key="sms.script">/full/path/to/script.sh</entry>  <!-- is executed with paramters: $mobilenr $msg, es example: /tmp/sms.sh 04917344444 'this is a test' -->
<!-- BULKSMS.COM CONFIGURATIN -->
<entry key="bulksms.username">user</entry>
<entry key="bulksms.password">password</entry>
<!-- TWILIO.COM CONFIGURATION -->
<entry key="twilio.accountsid"></entry>
<entry key="twilio.authtoken"></entry>
<entry key="twilio.fromnr"></entry>
<!-- SMSFLATRATE.NET CONFIGURATION -->
<!-- smsflatrate supports text to speech and sms -->
<!-- smsflatrate api key -->
<entry key="smsflatrate.key">SMSFLATRATEKEY</entry>
<!-- gw type to use: 4 international cheap (5,50 cent), 11 timecritical international (10 cent), 21 ultra cheap shit 2.7 cent)-->
<!-- gw type for de: 3 german cheap, 3.1 cent, 10 timecritical, 7.5 ct, 20 cheap = 1.7 cent)-->
<entry key="smsflatrate.gw">4</entry>
<!-- gw to use for german sms -->
<entry key="smsflatrate.gwde">3</entry>
<entry key="smsflatrate.ttsgw">30</entry>
<!-- mailserver setting for outbound mails (alerts) -->
<entry key="mailserver.host">mail.example.com</entry>
<entry key="mailserver.port">25</entry>
<entry key="mailserver.usessl">false</entry>
<entry key="mailserver.useauth">false</entry>
<entry key="mailserver.user"></entry>
<entry key="mailserver.pass"></entry>
<entry key="mailserver.from">no-reply@muninmx.example.com</entry>
</properties>
